logs/*
!logs/empty
.idea
**/*.pyc
my_site/local_settings.py
dump.rdb
.qiniu_pythonsdk_hostscache.json
celery*
.vscode
.env
**/__pycache__
.editorconfig
.env.example
.gitattributes
LICENSE
README.md
cert/*
!cert/.empty
