appdirs==1.4.3
appnope==0.1.0
certifi==2017.11.5
chardet==3.0.4
decorator==4.1.2
Django==1.11.0
django-appconf==1.0.1
django-crontab==0.7.1
django-staticfiles==1.2.1
enum34==1.1.6
idna==2.6
ipython==5.5.0
ipython-genutils==0.2.0
packaging==16.8
pathlib2==2.3.0
pexpect==4.3.1
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.5.2
Pygments==2.2.0
pyparsing==2.2.0
pytz==2017.2
requests==2.20.0
scandir==1.6
simplegeneric==0.8.1
six==1.9.0
traitlets==4.3.2
urllib3==1.22
wcwidth==0.1.7
django-bootstrap-pagination==1.6.4
MySQL-python==1.2.5
qiniu==7.2.2
DjangoUeditor==1.8.143
aliyun-python-sdk-core==2.13.1
aliyun-python-sdk-kms==2.5.0
oss2==2.5.0
celery==4.2.1
mistune==0.8.4
markdown==3.0.1
django-redis==4.10.0
redis==2.10.6
supervisor==3.3.1
kombu==4.2.1
mysqlclient==1.4.2
