-i https://pypi.tuna.tsinghua.edu.cn/simple
Django==3.2.10
Pygments==2.10.0
requests==2.26.0
six==1.16.0
urllib3==1.26.6
django-bootstrap-pagination==1.7.1
qiniu==7.4.1
aliyun-python-sdk-core==2.13.35
aliyun-python-sdk-kms==2.15.0
oss2==2.15.0
celery==5.1.2
mistune==0.8.4
markdown==3.3.4
django-redis==5.0.0
redis==3.5.3
supervisor==4.2.2
kombu==5.1.0
mysqlclient==2.0.3
gunicorn[gevent]==20.0.4
django-cors-headers==3.10.1
