{% extends 'manager/base/base.html' %}
{% load bootstrap_pagination %}
{% block css %}
<link rel="stylesheet" href="/static/manager/plugins/editormd/css/editormd.css" />
{% endblock %}

{% block navbar %}
  <div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <ul class="nav navbar-nav list-inline navbar-left">
        <li class="list-inline-item">
          <button class="button-menu-mobile open-left">
            <i class="mdi mdi-menu"></i>
          </button>
        </li>
        <li class="list-inline-item">
          <h4 class="page-title">修改密码</h4>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card-box">
          <form class="form-horizontal" action="{% url 'change_password' %}" method="post" enctype="multipart/form-data">
            <div class="form-group">
              <h5>旧密码 <span class="text-danger">*</span></h5>
              <div class="controls">
                <input name="old_password" id="old_password" class="form-control" type="password">
              </div>
            </div>
            <div class="form-group">
              <h5>新密码 <span class="text-danger">*</span></h5>
              <div class="controls">
                <input name="new_password" id="new_password" class="form-control" type="password">
              </div>
            </div>
            <div class="form-group">
              <h5>确认密码 <span class="text-danger">*</span></h5>
              <div class="controls">
                <input name="confirm_password" id="confirm_password" class="form-control" type="password">
              </div>
            </div>
            <button type="submit" class="btn btn-success">提交</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}

{% endblock %}
