/* cyrillic-ext */

@font-face {
    font-family: 'Arimo';
    font-style: italic;
    font-weight: 400;
    src: local('Arimo Italic'), local('Arimo-Italic'), url(../fonts/p5sczzcdf9_t_10c9c5kik-u.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */

@font-face {
    font-family: 'Arimo';
    font-style: italic;
    font-weight: 400;
    src: local('Arimo Italic'), local('Arimo-Italic'), url(../fonts/p5sczzcdf9_t_10c9cdkik-u.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */

@font-face {
    font-family: 'Arimo';
    font-style: italic;
    font-weight: 400;
    src: local('Arimo Italic'), local('Arimo-Italic'), url(../fonts/p5sczzcdf9_t_10c9c9kik-u.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}

/* greek */

@font-face {
    font-family: 'Arimo';
    font-style: italic;
    font-weight: 400;
    src: local('Arimo Italic'), local('Arimo-Italic'), url(../fonts/p5sczzcdf9_t_10c9cbkik-u.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}

/* hebrew */

@font-face {
    font-family: 'Arimo';
    font-style: italic;
    font-weight: 400;
    src: local('Arimo Italic'), local('Arimo-Italic'), url(../fonts/p5sczzcdf9_t_10c9cfkik-u.woff2) format('woff2');
    unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}

/* vietnamese */

@font-face {
    font-family: 'Arimo';
    font-style: italic;
    font-weight: 400;
    src: local('Arimo Italic'), local('Arimo-Italic'), url(../fonts/p5sczzcdf9_t_10c9cxkik-u.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */

@font-face {
    font-family: 'Arimo';
    font-style: italic;
    font-weight: 400;
    src: local('Arimo Italic'), local('Arimo-Italic'), url(../fonts/p5sczzcdf9_t_10c9c1kik-u.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
    font-family: 'Arimo';
    font-style: italic;
    font-weight: 400;
    src: local('Arimo Italic'), local('Arimo-Italic'), url(../fonts/p5sczzcdf9_t_10c9cnkia.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */

@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    src: local('Arimo Regular'), local('Arimo-Regular'), url(../fonts/p5smzzcdf9_t_10uxcf8ja.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */

@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    src: local('Arimo Regular'), local('Arimo-Regular'), url(../fonts/p5smzzcdf9_t_10dxcf8ja.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */

@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    src: local('Arimo Regular'), local('Arimo-Regular'), url(../fonts/p5smzzcdf9_t_10vxcf8ja.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}

/* greek */

@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    src: local('Arimo Regular'), local('Arimo-Regular'), url(../fonts/p5smzzcdf9_t_10axcf8ja.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}

/* hebrew */

@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    src: local('Arimo Regular'), local('Arimo-Regular'), url(../fonts/p5smzzcdf9_t_10bxcf8ja.woff2) format('woff2');
    unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}

/* vietnamese */

@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    src: local('Arimo Regular'), local('Arimo-Regular'), url(../fonts/p5smzzcdf9_t_10wxcf8ja.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */

@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    src: local('Arimo Regular'), local('Arimo-Regular'), url(../fonts/p5smzzcdf9_t_10xxcf8ja.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    src: local('Arimo Regular'), local('Arimo-Regular'), url(../fonts/p5smzzcdf9_t_10zxce.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */

@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    src: local('Arimo Bold'), local('Arimo-Bold'), url(../fonts/p5sbzzcdf9_t_1wi4trorzkx0a.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */

@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    src: local('Arimo Bold'), local('Arimo-Bold'), url(../fonts/p5sbzzcdf9_t_1wi4trhrzkx0a.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek-ext */

@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    src: local('Arimo Bold'), local('Arimo-Bold'), url(../fonts/p5sbzzcdf9_t_1wi4trprzkx0a.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}

/* greek */

@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    src: local('Arimo Bold'), local('Arimo-Bold'), url(../fonts/p5sbzzcdf9_t_1wi4trarzkx0a.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}

/* hebrew */

@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    src: local('Arimo Bold'), local('Arimo-Bold'), url(../fonts/p5sbzzcdf9_t_1wi4trbrzkx0a.woff2) format('woff2');
    unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}

/* vietnamese */

@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    src: local('Arimo Bold'), local('Arimo-Bold'), url(../fonts/p5sbzzcdf9_t_1wi4trmrzkx0a.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */

@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    src: local('Arimo Bold'), local('Arimo-Bold'), url(../fonts/p5sbzzcdf9_t_1wi4trnrzkx0a.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 700;
    src: local('Arimo Bold'), local('Arimo-Bold'), url(../fonts/p5sbzzcdf9_t_1wi4trdrzi.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}