<!--畅言PC版-->
<div id="SOHUCS" sid="{{ article.id }}"></div>
<script charset="utf-8" type="text/javascript" src="/static/changyan.js" ></script>
<script type="text/javascript">
  window.changyan.api.config({
    appid: 'cyt5STTrc',
    conf: 'prod_2cd3e2798964d1d91c61c46a0a22f7b9'
  });
</script>

<!-- https://changyan.sohu.com/upload/changyan.js -->

{#<!-- 友言 BEGIN -->#}
{#<div id="uyan_frame"></div>#}
{#<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2141259"></script>#}
{#<!-- UY END -->#}