<div id="search" class="widget_search">
	<form role="search" method="get" class="search-form" action="/search/">
    {% csrf_token %}
		<input value="{{ s|default:'' }}" name="s" class="s query" placeholder="查找文章" type="text">
		<button type="submit" class="search-submit"><i style="font-size:20px" class="fa fa-search" aria-hidden="true"></i></button>
		<div class="clearfix"></div>
	</form>
</div>

<div id="archives" class="widget widget_archive" style="margin-top: 20px;">
  {% include "blog/calendar.html" %}
</div>

<!-- 拖慢网页速度，暂时隐藏 -->
<!--<div id="text" class="widget widget_text">
	<h3 class="widget-title">新浪微博</h3>
	<div class="textwidget">
    <iframe width="100%" height="500" class="share_self"  frameborder="0" scrolling="no" src="https://widget.weibo.com/weiboshow/index.php?language=&width=0&height=500&fansRow=2&ptype=1&speed=0&skin=1&isTitle=0&noborder=0&isWeibo=1&isFans=1&uid=2734584944&verifier=42b4a725&dpc=1">

    </iframe>
	</div>
</div>-->

<div id="" class="widget widget_archive">
  <iframe src="//www.seniverse.com/weather/weather.aspx?uid=UD93432FCC&cid=CHBJ000000&l=zh-CHS&p=SMART&a=1&u=C&s=1&m=0&x=1&d=3&fc=&bgc=&bc=&ti=0&in=1&li=" frameborder="0" scrolling="no" width="100%" height="200" allowTransparency="true"></iframe>
</div>

<div id="archives" class="widget widget_archive">
  <h3 class="widget-title">文章归档</h3>
  <ul>
    {% if date_list %}
      {% for x, y in date_list %}
        <li><a href="{% url 'archive_month' year=x.year month=x.month %}">{{x.year}}年{{x.month}}月 ( {{y}} )</a></li>
      {% endfor %}
    {% endif %}
  </ul>
</div>

<div id="categories" class="widget widget_categories">
	<h3 class="widget-title">分类目录</h3>
	<ul>
    {% if classification %}
      {% for x,y in classification %}
        <li><a href="{% url 'classfiDetail' classfi=x %}">{{x}} ( {{y}} )</a></li>
      {% endfor %}
    {% endif %}
	</ul>
</div>

<div id="new_post" class="widget widget_categories">
  <h3 class="widget-title">最热文章</h3>
  <ul>
    {% if new_post %}
      {% for item in new_post %}
        <li>
          <a href="{{ item.get_absolute_url }}">
            <span style="font-family: monaco;">{{ forloop.counter }}</span>.&nbsp;{{ item.title|truncatechars:20 }}&nbsp;( {{ item.count }} )
          </a>
        </li>
      {% endfor %}
    {% endif %}
  </ul>
</div>

<div id="tag_cloud" class="widget widget_tag_cloud">
  <h3 class="widget-title">标签云</h3>
  <div id="example" style="width: 100%; height: 300px; padding: 5px;"></div>
</div>

<div id="linkcat" class="widget widget_links">
  <h3 class="widget-title">友情链接</h3>
  <ul class="xoxo blogroll">
    {% for link in links %}
      <li><a href="{{ link.link }}" target="_blank">{{ link.name }}</a></li>
    {% endfor %}
  </ul>
</div>

<script type="text/javascript">
  var list = {{ tag_cloud|safe }};
  var word_array = new Array();
  for (i in list) {
    var temp = list[i][0];
    word_array.push({text: temp, weight: list[i][1], link: "/articleTag/" + temp});
  }

  jQuery(function() {
    jQuery("#example").jQCloud(word_array);
  });
</script>
<script type="text/javascript" charset="utf-8" src="/static/jquery.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/changyan.labs.https.js?appid=cyt5STTrc"></script>
