{% extends "blog/base.html" %}
{% block title %}
  杨学峰博客 | 关于我
{% endblock %}
{% block path %}
  当前位置&nbsp;:&nbsp;<a href = "{% url 'home'%}">首页&nbsp;</a>»&nbsp;关于我
{% endblock %}
{% block content %}
  <div class="archive">
    <div id="archives">
      <h3 style="font-weight: bold">
        关于本站
      </h3>
      <blockquote>
        <p>1. 使用Python + Django + MySQL开发的个人博客，GitHub地址：<a href="https://github.com/a1401358759/my_site">github</a>。
        欢迎吐槽、star和fork。<p>
        <p>2. 本站大部分文章是博主工作中遇到问题时，通过网络资源查找到的解决方法的总结记录，如有不当之处，请联系博主删除，敬请谅解！</p>
        <p>3. 本站已经稳定运行 <span id="days" style="color:red;">0</span> 天。</p>
      </blockquote>
      <br />

      <h3 style="font-weight: bold">
        关于我
      </h3>
      <blockquote>
        <p>1. IT行业python男一枚，东搞西搞，目前工作于研发部，对在线学习和开发感兴趣，偶尔打LOL，看些电视剧和电影。</p>
        <p>2. 欢迎访问我的另一篇博客: <a href="http://wyy.yangsihan.com" target="_blank">博客2🙂</a></p>
        <p>3. <a href="https://promotion.aliyun.com/ntms/yunparter/invite.html?userCode=rovwt9lv" target="_blank">领取阿里云专属优惠券</a></p>
      </blockquote>

      <br />
      <h3 style="font-weight: bold">
        联系我
      </h3>
      <ul style="margin-left:20px;">
        <p><i class="fa fa-btc"></i>&nbsp;博客：<a href="{% url 'home' %}">杨学峰博客</a></p>
        <p><i class="fa fa-envelope-o"></i>&nbsp;邮箱：<a target="_blank" href="javascript:;">13552974161@163.com</a></p>
        <p><i class="fa fa-github"></i>&nbsp;GitHub：<a target="_blank" href="https://github.com/a1401358759">github</a></p>
        <p><i class="fa fa-qq"></i>&nbsp;QQ： <a target="_blank" href="javascript:;">1401358759</a></p>
        <p><i class="fa fa-weixin"></i>&nbsp;微信：<a href="javascript:;">yangxuefengwx</a></p>
      </ul>
    </div>
  </div>

  <!-- 评论框 -->
  <div id="vcomments" class="widget widget_recent_comments friend_links">
  </div>

  <script src="/static/js/valine.js"></script>
  <script>
    var s1 = '2018-02-01';  // 设置为你的建站时间
    s1 = new Date(s1.replace(/-/g, "/"));
    s2 = new Date();
    var days = s2.getTime() - s1.getTime();
    var number_of_days = parseInt(days / (1000 * 60 * 60 * 24));
    document.getElementById('days').innerHTML = number_of_days;
  </script>
{% endblock %}

{% block side %}
	 {% include "blog/_side.html" %}
{% endblock %}
