{% extends "blog/base.html" %}
{% load mptt_tags %}
{% load bootstrap_pagination %}
{% block title %}
  杨学峰博客 | 关于我
{% endblock %}
{% block path %}
  当前位置&nbsp;:&nbsp;<a href = "{% url 'home'%}">首页&nbsp;</a>»&nbsp;关于我
{% endblock %}
{% block content %}
  <style>
    .w-e-text-container {
      height: 200px !important;
      max-height: 200px;
    }
    .w-e-text {
      padding: 10px!important;
    }
    .comments_anchor:target{
      padding-top:44px
    }
    .quote-content * {
      color: gray;
      font-size: 14px;
    }
  </style>
  <div class="archive">
    <div id="archives">
      <h3 style="font-weight: bold">
        关于本站
      </h3>
      <blockquote>
        <p>1. 使用Python + Django + MySQL开发的个人博客，GitHub地址：<a href="https://github.com/a1401358759/my_site">github</a>。
        欢迎吐槽、star和fork。<p>
        <p>2. 本站大部分文章是博主工作中遇到问题时，通过网络资源查找到的解决方法的总结记录，如有不当之处，请联系博主删除，敬请谅解！</p>
        <p>3. 本站建于 2018-02-01，已经稳定运行 <span id="days" style="color:red;">0</span> 天。</p>
      </blockquote>
      <br />

      <h3 style="font-weight: bold">
        关于我
      </h3>
      <blockquote>
        <p>1. IT行业python男一枚，东搞西搞，目前工作于研发部，对在线学习和开发感兴趣，偶尔打LOL，看些电视剧和电影。</p>
        <p>2. <a href="https://promotion.aliyun.com/ntms/yunparter/invite.html?userCode=rovwt9lv" target="_blank">领取阿里云专属优惠券</a></p>
      </blockquote>

      <br />
      <h3 style="font-weight: bold">
        联系我
      </h3>
      <blockquote>
        <ul>
          <p><i class="fa fa-btc"></i>&nbsp;博客：<a href="{% url 'home' %}">杨学峰博客</a></p>
          <p><i class="fa fa-envelope-o"></i>&nbsp;邮箱：<a target="_blank" href="javascript:;">13552974161@163.com</a></p>
          <p><i class="fa fa-github"></i>&nbsp;GitHub：<a target="_blank" href="https://github.com/a1401358759">github</a></p>
          <p><i class="fa fa-qq"></i>&nbsp;QQ： <a target="_blank" href="javascript:;">1401358759</a></p>
          <p><i class="fa fa-weixin"></i>&nbsp;微信：<a href="javascript:;">yangxuefengwx</a></p>
        </ul>
      </blockquote>
    </div>
  </div>

  <!-- 评论框 -->
  <div id="vcomments" class="widget widget_recent_comments">
    <!-- 评论表单 -->
    {% include "blog/comment_form.html" %}
    <!-- 评论列表 -->
    {% include "blog/comment_list.html" %}
  </div>

  <!--<script src="/static/js/valine.js"></script>-->
  <script>
    var s1 = '2018-02-01';  // 设置为你的建站时间
    s1 = new Date(s1.replace(/-/g, "/"));
    s2 = new Date();
    var days = s2.getTime() - s1.getTime();
    var number_of_days = parseInt(days / (1000 * 60 * 60 * 24));
    $("#days").html(number_of_days);
    $("#target").val('about');
    // toastr["success"]("Have fun storming the castle!");
  </script>
  <script src="/static/manager/js/wangEditor.min.js"></script>
  <script type="text/javascript">
    var E = window.wangEditor
    var editor = new E('#editor')
    editor.customConfig.uploadImgServer = '/upload-rich/'  // 配置服务器端上传图片地址
    editor.customConfig.uploadImgMaxSize = 1 * 1024 * 1024  // 将图片大小限制为 1M
    var $text1 = $('#rich_text')
    editor.customConfig.onchange = function (html) {
      // 监控变化，同步更新到 textarea
      $text1.val(html)
    }
    editor.create()
    // 设置编辑器的初始值
    editor.txt.html($text1.val())
    // 初始化 textarea 的值
    $text1.val(editor.txt.html());
    function set_parent_comment_id(comment_id, nickname, parent_anchor) {
      var html = "<a class='comments_anchor' href='#"+ parent_anchor + "'>@"+ nickname + "&nbsp;" + "</a>"
      document.getElementById('parent_comment_id').value = comment_id;
      editor.txt.html(html)
    };
  </script>
{% endblock %}

{% block side %}
	{% include "blog/_side.html" %}
{% endblock %}
