<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title></title>
<style>
  .htmleaf-container{
    margin: 0 auto;
  }
  .zzsc-content{
    padding: 1em;
  }
</style>

</head>
<body>
<div style="text-align:center; clear:both">
</div>
<div class="zzsc-content">
  <canvas id="clock9_" width="200px" height="200px" style="margin: -30px 0 -30px 10px;"></canvas>
</div>

<script src="/static/js/canvas_clock.js"></script>
<script>
  clockd9_={
    "indicate": true,
    "indicate_color": "#222",
    "dial1_color": "#666600",
    "dial2_color": "#81812e",
    "dial3_color": "#9d9d5c",
    "time_add": 1,
    "time_24h": true,
    "date_add": 3,
    "date_add_color": "#999",
  };

  var c = document.getElementById('clock9_');
  cns9_ = c.getContext('2d');
  clock_num(200, cns9_, clockd9_);
</script>
</body>
</html>
