<form class="form-horizontal" action="{% url 'add_comments' %}" method="post" id="comment_form" enctype="multipart/form-data">
  <div class="col-md-12">
    <div class="col-md-4">
      <input type="text" placeholder="如何称呼您" class="form-control comment-input" name="nickname" required="required" />
    </div>
    <div class="col-md-4">
      <input type="email" placeholder="邮箱可以接收通知" class="form-control comment-input" name="email" required="required" />
    </div>
    <div class="col-md-4">
      <input type="text" placeholder="网站(可选)" class="form-control comment-input" name="website" />
    </div>
  </div>
  <div id="editor" class="controls">

  </div>
  <textarea style="display:none;" required="true" name="content" id="rich_text" placeholder="快来评论吧"></textarea>
  <input type="hidden" name="parent_comment_id" id="parent_comment_id">
  <input type="hidden" name="target" id="target">
  <button type="submit" class="layui-btn pull-right" style="margin:10px 0;">提交评论</button>
</form>
