<form class="form-horizontal" id="comment_form" enctype="multipart/form-data">
  <div class="form-row">
    <input type="text" placeholder="我们该如何称呼您？" class="col-md-4 comment-input" name="nickname" required="required" />
    <input type="email" placeholder="真实的邮箱可接到通知哦~" class="col-md-4 comment-input" name="email" required="required" />
    <input type="text" placeholder="个人网站(可选)" class="col-md-4 comment-input" name="website" />
  </div>
  <textarea style="width:100%;resize:vertical;" required="true" name="content" id="comment_content" placeholder="评论支持markdown语法。"></textarea>
  <input type="hidden" name="parent_comment_id" id="parent_comment_id">
  <input type="hidden" name="target" id="target">
  <button type="button" class="layui-btn pull-right" onclick="add_comments()">提交评论</button>
</form>
