{% extends "base.html" %}

{% block title %}
  杨学峰博客 | {{ article.title }}
{% endblock %}
{% block path %}
  当前位置&nbsp;:&nbsp;<a href = "{% url 'home' %}">首页&nbsp;</a>»&nbsp;文章分类&nbsp;:&nbsp;<a href="{%  url 'classfiDetail' classfi=article.classification %}">{{article.classification}}&nbsp;</a>»&nbsp; {{article.title}}
{% endblock %}
{% block content %}
  <div class="archive">
    <div id="archives">
      <header class="entry-header">
        <div class="entry-info">
          <span class="entry-date">
            <span class="fa fa-calendar" aria-hidden="true"></span>&nbsp;
            {{ article.publish_time|date:'Y年m月d日' }}
          </span>

          <span class="author vcard">
            <span class="fa fa-user" aria-hidden="true"></span>&nbsp;
            {{ article.author }}
          </span>

          <span class="pull-right">
            <span class="fa fa-eye" aria-hidden="true">&nbsp;阅读:&nbsp;</span>{{ article.count }}
          </span>

          <span class="comments-link">
            <span class="ds-thread-count" data-thread-key="{{article.id}}"></span>
          </span>
        </div>
        <h1 class="entry-title">
          {{ article.title }}
        </h1>
      </header>
      <div>
        {{ article.content|safe }}
        <div class="clearfix"></div>
      </div><!-- .entry-content -->

      <footer class="entry-meta" style="padding:10px 0; margin-top:10px;">
        <div class="fenlei">
          <span class="entry-categories">
            <span class="fa fa-suitcase" aria-hidden="true"></span>&nbsp;
            <a href="{% url 'classfiDetail' classfi=article.classification %}" rel="category">{{article.classification}}</a>
          </span>
          <span class="entry-tags">
            <span class="fa fa-tags" aria-hidden="true"></span>&nbsp;
            {% for i in article.get_tags %}
              <a href="{{ i.get_absolute_url }}" rel="tag"> {{i}}</a>
            {% endfor %}
          </span>
        </div>
      </footer>
      </div>
  </div>

  <!--<div style="float: left;">
    {% if article.get_after_article %}
      {% with after=article.get_after_article %}
        <p class="p1">上一篇 <a href="{{ after.get_absolute_url }}">{{ after }} </a></p>
      {% endwith %}
    {% endif %}
  </div>
  <br/>
  <div style="float: left; {% if article.get_after_article %}margin-left: -188px;{% endif %}">
    {% if article.get_before_article %}
      {% with before=article.get_before_article %}
        <p class="p2">下一篇 <a href="{{ before.get_absolute_url }}">{{ before }} </a></p>
      {% endwith %}
    {% endif %}
  </div>-->

  <!-- 评论框 -->
  <div id="vcomments" class="widget widget_recent_comments friend_links">
  </div>

  <script src="/static/js/valine.js"></script>
  <script>
    $('img').zoomify(); // Default settings
  </script>
{% endblock %}

{% block side %}
	{% include "blog/_side.html" %}
{% endblock %}
