<footer id="footer" class="main-footer no-print text-center">
  <div id="footer-content">
    <span>
      <a href="https://www.upyun.com/?utm_source=lianmeng&utm_medium=referral" target="_blank">
        <img src="https://img.yangsihan.com/upyun.png" height="35px">
      </a>
    </span>
    <span>
      <a href="https://www.qiniu.com/" target="_blank">
        <img src="https://img.yangsihan.com/qniulogo.png" height="30px">
      </a>
    </span>&nbsp;&nbsp;
    <span id="cc-myssl-id">
      <a href="https://myssl.com/yangsihan.com?from=mysslid" target="_blank">
        <img src="https://img.yangsihan.com/myssl-id1.png" height="35px">
      </a>
    </span>
    <br/><br/>
    <span>杨学峰博客&copy;2019&nbsp;<a href="http://www.miitbeian.gov.cn/" target="_blank">京ICP备18032767号</a></span>
    <br/>
    <span>
      <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010502037217" target="_blank">
        <img src="/static/css/beian.png"/>&nbsp;京公网安备 11010502037217号
      </a>
    </span>
  </div>
</footer>
