<!--jquery -->
<script src="/static/js/jquery.js"></script>
<script src="/static/js/public.js"></script>
<!--<script src="/static/js/mouse_click.js"></script>-->
<script src="/static/js/scorllup.js"></script>
<script src="/static/plugins/bootstrap/js/bootstrap.js"></script>
<script src="/static/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- responsive-nav -->
<script src="/static/plugins/responsive-nav/responsive-nav.js"></script>
<!-- prism.js -->
<script src="/static/plugins/prism/prism.js"></script>
<!-- swiper-4.4.6 -->
<script src="/static/plugins/swiper4/swiper.min.js"></script>
<!-- aplayer -->
<script src="/static/plugins/aplayer/APlayer.min.js"></script>
<!-- zoomify -->
<script src="/static/plugins/zoomify/zoomify.min.js"></script>
<!-- Valine -->
<script src="/static/plugins/valine/av-min.js"></script>
<script src="/static/plugins/valine/Valine.min.js"></script>
<script src="/static/plugins/toastr/toastr.min.js"></script>
<script src="/static/plugins/share/js/social-share.min.js"></script>
<script src="/static/plugins/jQuery-emoji/dist/js/jquery.emoji.min.js"></script>
<script src="/static/plugins/jQuery-emoji/dist/js/emoji.list.js"></script>
