{% extends "base.html" %}
{% block title %}
    留言板
{% endblock %}
{% block path %}
    <a href = "{% url 'home'%}">当前位置&nbsp;:&nbsp;首页&nbsp;</a>»&nbsp;留言板
{% endblock %}
{% block content %}
    <div>
        <section id="recent-comments" class="widget widget_recent_comments">
            <h6 style="margin-top: -10px; margin-left: -10px;">主人寄语</h6>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="font-size: smaller">欢迎访问我的博客，你可以在下面留下你的足迹.^_^</span>
        </section>
    </div>

    <form style="margin-top: 15px;" class="form-horizontal" id="message_form">
    {% csrf_token %}
        <div class="row form-inline">
            <div class="form-group">
                <div class="col-md-6">
                    <input type="text" placeholder="姓名(必填)" required="required" name="name" id="name" class="form-control input-sm" style="width: 348px;">
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-6">
                    <input type="email" placeholder="邮箱(必填)" required="required" name="email" id="email" class="form-control input-sm" style="width: 348px;">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <textarea name="messages" id="messages" placeholder="留言内容(必填)" required="required" class="form-control" rows="8" style="resize: none;"></textarea>
            </div>
        </div>

        <button type="submit" class="btn btn-default" onclick="create_messages()">发表</button>
    </form>
    <hr/>
        留言({{ messages | length }})
    <hr/>
    <div style="margin-top: 30px; margin-left: 10px;">
        <section>
            <h5 style="margin-top: -10px; margin-left: -10px; color: #4398ed"><i class="glyphicon glyphicon-comment"></i> 近期留言</h5>
            <ul>
                {% for message in messages%}
                    <li type="circle" style="list-style: none; border-bottom: 1px dashed #e5e5e5; padding: 13px 0 11px;">
                        <div style="float: left; margin-right: 10px; margin-top: -5px;"><img src="/static/css/head.png" height="40px" width="40px" style="border-radius: 40px;"></div>
                        <span style="color: #4398ed">{{ message.name }}</span>
                        <span style="float: right; font-size: smaller; color: silver; margin-top: 4px;"><i class="glyphicon glyphicon-calendar"></i> {{ message.created_at }}</span>
                        <br/><br/>
                        <p style="text-indent: 3.5em; word-break: break-all; word-wrap: break-word;">{{ message.content|safe }}</p>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </div>

<script type="text/javascript">
    function create_messages() {
        var name = $('#name').val();
        var email = $('#email').val();
        var messages = $('#messages').val();
        if (name.length != 0 && email.length != 0 && messages.length != 0) {
            $.ajax({
                async: false,
                url: '/create/messages',
                type: 'POST',
                dataType: 'json',
                data: add_csrf_token({
                    'name': name,
                    'email': email,
                    'messages': messages
                }),
                success: function (data) {
                    if (data['success'] == true) {
                        alert(data['message']);
                        window.location.reload()
                    }else{
                        alert(data['message']);
                    }
                }
            })
        }else{
            alert('数据不能为空！')
        }
    }

</script>
{% endblock %}

{% block side %}
	{% include "blog/_side.html" %}
{% endblock %}
