<div class="modal fade" id="reward_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" style="text-align:center;color:red;">您的支持是我前进的动力!🙂</h3>
      </div>
      <div class="row">
        <div class="form-group col-sm-12">
          <div class="col-sm-6" style="text-align:center">
            <img src="https://img.yangsihan.com/2019_02_11_1709097461.png" alt="" width="200px" height="200px">
            <br>
            <span style="color:#999">微信</span>
          </div>
          <div class="col-sm-6" style="text-align:center">
            <img src="https://img.yangsihan.com/2019_02_11_1710581136.png" alt="" width="200px" height="200px">
            <br>
            <span style="color:#999">支付宝</span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div>
  </div>
</div>
