<div class="modal fade" id="verify_user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-5" style="margin-top: 4%">
            <div class="panel panel-inverse">
                <div style="background: #ffaa3e;">
                    <h4 class="panel-title" style="margin-left:10px; margin-bottom: -10px; line-height: 40px; font-weight: bolder; color: #FFFFFF; font-size: larger;">登录</h4>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" action="/love" method="post" data-parsley-validate="true" id="verify_user_form">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" style="font-size: smaller;"><i class="fa fa-asterisk" style="color: red;"></i>用户:</label>
                                <div class="col-sm-10">
                                    <input type="text" name="name" id="name" class="form-control input-sm" data-parsley-required="true"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label" style="font-size: smaller;"><i class="fa fa-asterisk" style="color: red;"></i>密码:</label>
                                <div class="col-sm-10">
                                    <input type="password" name="pw" id="pw" class="form-control input-sm" data-parsley-required="true"/>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-default" data-dismiss="modal" value="关闭">
                            <input type="submit" class="btn btn-default" value='提交'>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

<!--<script type="text/javascript">
    $("#verify_user_form").submit(function(){
        var name = $("#name").val();
        var pw = $("#pw").val();
        $.ajax({
            url: '/love',
            data: {"name": name, "pw": pw},
            type: "GET",
            statusCode: {
                200: function(data){
                    window.location.href = '/love'
                }
            }
        });
        return false
    });
</script>-->