<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="杨学峰">
  <meta name="copyright" content="Daniel Yang版权所有">
  <meta name="baidu_union_verify" content="00e8e378a55e67dfe8ef4ccbcc7ab7d7">
  <meta name="baidu-site-verification" content="xxnzwzyTfv" />
  <meta name="360-site-verification" content="a649c3cd838791ff7f1add9a817776ac" />
  <meta name="sogou_site_verification" content="BxBvK43cKQ"/>
  <title>杨学峰的个人博客</title>
  <meta name="keywords" content="个人博客、Python、Django、MySql、uWSGI、HTML、Jquery、Redis、数据库、服务器、性能优化">
  <meta name="description" content="个人博客、Python、Django、MySql、uWSGI、HTML、Jquery、Redis、数据库、服务器、性能优化。记录和分享学习的心得,感悟生活,留住感动,静静寻觅生活的美好">

  {{ form.media }}
  <link rel="shortcut icon" href="/static/css/logo.png" type="image/x-icon" />

  <!-- Bootstrap core CSS -->
  <link href="{{ STATIC_URL }}jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
  <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}font-awesome/css/font-awesome.min.css" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">

  <!--jquery  -->
  <script src="{{ STATIC_URL }}jquery.js"></script>
  <script src="{{ STATIC_URL }}js/public.js"></script>
  <script src="{{ STATIC_URL }}lib/scorllup.js"></script>
  <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
  <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="{{ STATIC_URL }}css/animate.css">

  <!-- jqcloud -->
  <script src="{{ STATIC_URL }}lib/jqcloud-1.0.4.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}lib/jqcloud.css">

  <!--responsive-nav-->
  <script src="{{ STATIC_URL }}lib/responsive-nav.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}lib/responsive-nav.css">

  <!-- highlight.js -->
  <script src="{{ STATIC_URL }}plugins/highlight/highlight.pack.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}plugins/highlight/styles/darcula.css">

  <!-- swiper-4.4.6 -->
  <link rel="stylesheet" href="{{ STATIC_URL }}plugins/swiper4/swiper.min.css">
  <script src="{{ STATIC_URL }}plugins/swiper4/swiper.min.js"></script>

  <script>
    jQuery(document).ready(function() {
      jQuery('pre code').each(function(i, block) {
        hljs.highlightBlock(block);
      });

      // 代码高亮自定义
      jQuery("code").each(function(){
        jQuery(this).html("<ul><li>" + jQuery(this).html().replace(/\n/g,"\n</li><li>") +"\n</li></ul>");
      });
    });

    // 百度统计
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?d0c36cd2aa168157a75f00eaf29e4709";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
</head>

<script>
$(function () {
  jQuery.scrollUp({

  });
});
</script>

<body class="home blog layout-cs">
  <div id="wrap">
    <header id="header" role="banner">
      <div class="container">
        <div id="logo">
          <div style="float:left;" class="hidden-xs hidden-sm">
            <h2 id="site-title">
              <a href="{% url 'home' %}" rel="home">杨学峰的个人博客</a>
            </h2>
          </div>
          <div style="float:left; margin:25px 0 0 20px;">
            <nav class="nav nav-primary">
              <div class="container">
                <ul>
                  <li><a href="{% url 'home' %}">首页</a></li>
                  <li><a href="{% url 'archive' %}">文章归档</a></li>
                  <li><a href="{% url 'message' %}">留言板</a></li>
                  <li><a href="{% url 'about' %}">关于我</a></li>
                </ul>
              </div>
            </nav>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="social-icons hidden-xs hidden-sm">
          <a href="https://www.weibo.com" target="_blank"><i class="fa fa-weibo"></i></a>
          <a href="https://github.com/a1401358759" target="_blank"><i class="fa fa-github"></i></a>
          <a href="javascript:;" onclick="verify_user()"><i class="fa fa-heart"></i></a>
          <a href="{% url 'my_resume' %}" target="_blank"><i class="fa fa-user"></i></a>
        </div>
      </div>
      <div class="clearfix"></div>
    </header>

    <div style="height: 80px;"></div> <!-- 占位div -->

    <div id="main" class="container">
      <div id="content-sidebar-wrap">
        <div id="content">
          {% block banner %}{% endblock %}
          {% if not is_home %}
            <div class="breadcrumb">
              {% block path %}{% endblock %}
            </div>
          {% endif %}
          {% block content %}{% endblock %}
        </div> <!-- #content -->

        <aside id="sidebar-primary" role="complementary">
          {% block side %}{% endblock %}
        </aside>
      </div> <!-- #content-sidebar -->
    </div> <!-- #main -->
    <center>
      <footer id="footer" class="main-footer no-print text-center hidden-sm hidden-xs">
        <div id="footer-content">
          <span>杨学峰的个人博客&copy;2018&nbsp;-&nbsp;京ICP备18032767号-1</span>
        </div>
      </footer>
    </center>
  </div>
  {% include "blog/verify_user.html" %}

  <script type="text/javascript">
    function verify_user(){
      jQuery("#verify_user").modal('show');
    }

    // 导航栏选中高亮
    jQuery(document).ready(function(){
      jQuery(".nav a").each(function(){
        $this = jQuery(this);
        if($this[0].href==String(window.location)){
          $this.css("color", "#6bc30d");
        }
      });
    });

    // 心知天气
    (function(T,h,i,n,k,P,a,g,e){g=function(){P=h.createElement(i);a=h.getElementsByTagName(i)[0];P.src=k;P.charset="utf-8";P.async=1;a.parentNode.insertBefore(P,a)};T["ThinkPageWeatherWidgetObject"]=n;T[n]||(T[n]=function(){(T[n].q=T[n].q||[]).push(arguments)});T[n].l=+new Date();if(T.attachEvent){T.attachEvent("onload",g)}else{T.addEventListener("load",g,false)}}(window,document,"script","tpwidget","//widget.seniverse.com/widget/chameleon.js"))
    tpwidget("init", {
      "flavor": "bubble",
      "location": "WX4FBXXFKE4F",
      "geolocation": "enabled",
      "position": "top-right",
      "margin": "0px 0px",
      "language": "zh-chs",
      "unit": "c",
      "theme": "chameleon",
      "uid": "UD93432FCC",
      "hash": "8ce83970b034af915902fb6188f4038c"
    });
    tpwidget("show");

    // 百度推送
    (function(){
      var bp = document.createElement('script');
      var curProtocol = window.location.protocol.split(':')[0];
      if (curProtocol === 'https'){
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
      }
      else{
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
      }
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(bp, s);
    })();

    // 360推送
    (function(){
      var src = (document.location.protocol == "http:") ? "http://js.passport.qihucdn.com/11.0.1.js?a44de98db818922042875e66a7a7a9fc":"https://jspassport.ssl.qhimg.com/11.0.1.js?a44de98db818922042875e66a7a7a9fc";
      document.write('<script src="' + src + '" id="sozz"><\/script>');
    })();

    // 畅言
    (function(){
      var appid = 'cyt5STTrc';
      var conf = '28f93e777e4486046d3b5173915e80f6';
      var width = window.innerWidth || document.documentElement.clientWidth;
      if (width < 960) {
        window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="/static/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("https://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })();
  </script>
</body>
</html>
