<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="baidu-site-verification" content="xxnzwzyTfv" />
  <title>{% block title %}{% endblock %}</title>
  {{ form.media }}
  <link rel="shortcut icon" href="/static/css/favicon.ico" type="image/x-icon" />

  <!-- Bootstrap core CSS -->
  <link href="{{ STATIC_URL }}jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
  <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}font-awesome/css/font-awesome.min.css" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">

  <!--jquery  -->
  <script src="{{ STATIC_URL }}jquery.js"></script>
  <script src="{{ STATIC_URL }}js/public.js"></script>
  <script src="{{ STATIC_URL }}lib/scorllup.js"></script>
  <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
  <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="{{ STATIC_URL }}css/animate.css">

  <!-- jqcloud -->
  <script src="{{ STATIC_URL }}lib/jqcloud-1.0.4.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}lib/jqcloud.css">

  <!--responsive-nav-->
  <script src="{{ STATIC_URL }}lib/responsive-nav.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}lib/responsive-nav.css">

  <!-- highlight.js -->
  <script src="{{ STATIC_URL }}plugins/highlight/highlight.pack.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}plugins/highlight/styles/darcula.css">

  <script>
    jQuery(document).ready(function() {
      jQuery('pre code').each(function(i, block) {
        hljs.highlightBlock(block);
      });
    });

    // 百度统计
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?d0c36cd2aa168157a75f00eaf29e4709";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>

  <style>
    .cur{font-weight:bolder;}
  </style>
</head>

<script>
$(function () {
  jQuery.scrollUp({

  });
});
</script>

<body class="home blog layout-cs">
  <div id="wrap">
    <header id="header" role="banner">
      <div class="container">
        <div id="logo">
          <h2 id="site-title">
            <a href="{% url 'home' %}" rel="home">Daniel的小站</a>
          </h2>
        </div>
        <div class="social-icons">
          <a href="https://www.weibo.com" target="_blank"><i class="fa fa-weibo"></i></a>
          <a href="https://github.com/a1401358759" target="_blank"><i class="fa fa-github"></i></a>
          <a href="javascript:;" onclick="verify_user()"><i class="fa fa-heart"></i></a>
          <a href="{% url 'my_resume' %}" target="_blank"><i class="fa fa-user"></i></a>
        </div>
      </div>
      <div class="clearfix"></div>
      <nav class="nav nav-primary">
        <div class="container">
          <ul id="menu-%e9%a6%96%e9%a1%b5" class="menu sf-js-enabled sf-shadow">
            <li id="menu-item-43" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-43">
              <a href="{% url 'home'%}">首页</a></li>
            <li id="menu-item-45" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-45">
              <a href="{% url 'archive'%}">文章存档</a></li>
            <li id="menu-item-44" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-44">
              <a href="{% url 'message' %}">留言板</a></li>
            <li id="menu-item-42" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-42">
              <a href="{% url 'about'%}">关于我</a></li>
          </ul>
        </div>
      </nav>
      <div id="nav2">
        <ul>
          <li><a href="{% url 'home' %}">首页</a></li>
          <li><a href="{% url 'archive' %}">文章归档</a></li>
          <li><a href="{% url 'message' %}">留言板</a></li>
          <li><a href="{% url 'about' %}">关于我</a></li>
        </ul>
      </div>
    </header>

    <div id="main" class="container">
      <div id="content-sidebar-wrap">
        <div id="content">
          <div class="breadcrumb">
            {% block path %}{% endblock %}
          </div>
          {% block content %}{% endblock %}
        </div> <!-- #content -->

        <aside id="sidebar-primary" role="complementary">
          {% block side %}{% endblock %}
        </aside>
      </div> <!-- #content-sidebar -->
    </div> <!-- #main -->
    <center>
      <footer id="footer" class="main-footer no-print text-center hidden-sm hidden-xs">
        <div id="footer-content" style="color: #b2bcc5;">
          <strong>&copy; 2017~2018</strong>
          <span>Designed by Daniel&nbsp;&nbsp;京ICP备18032767号-1</span>&nbsp;
          <span>
            <script>
              // cnzz统计
              var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
              document.write(unescape("%3Cspan id='cnzz_stat_icon_1274230529'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s13.cnzz.com/z_stat.php%3Fid%3D1274230529%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));
            </script>
          </span>
        </div>
      </footer>
    </center>
    </div>
  {% include "blog/verify_user.html" %}
  <script>
    var navigation = responsiveNav("#nav2");
  </script>

  <!--导航栏选中改变样式-->
  <script type="text/javascript">
    jQuery(document).ready(function(){
      jQuery(".nav a").each(function(){
        $this = jQuery(this);
        if($this[0].href==String(window.location)){
          $this.addClass("cur");
          $this.css("color", "#619d21");
        }
      });
    });

    function verify_user(){
      jQuery("#verify_user").modal('show');
    }

    // 百度推送
    (function(){
      var bp = document.createElement('script');
      var curProtocol = window.location.protocol.split(':')[0];
      if (curProtocol === 'https'){
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
      }
      else{
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
      }
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(bp, s);
    })();

    (function(){
      var appid = 'cyt5STTrc';
      var conf = '28f93e777e4486046d3b5173915e80f6';
      var width = window.innerWidth || document.documentElement.clientWidth;
      if (width < 960) {
        window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="/static/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("https://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })();
  </script>
</body>
</html>
