<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>{% block title %}{% endblock %}</title>
  <link rel="icon" href="/static/css/blog.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="/static/css/blog.ico" type="image/x-icon" />
  <!-- Bootstrap core CSS -->
  <link href="{{ STATIC_URL }}lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}lib/bootstrap/css/font-awesome.min.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
  <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}font-awesome/css/font-awesome.min.css" rel="stylesheet" />
  <link href="{{ STATIC_URL }}parsley/src/parsley.css" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">

  <!--jquery  -->
  <script src="{{ STATIC_URL }}lib/jquery.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/public.js"></script>
  <script src="{{ STATIC_URL }}lib/scorllup.js"></script>
  <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
  <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
  <!--SyntaxHighter-->
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}lib/shCore.css">
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}lib/shThemeRDark.css">
  <script type="text/javascript" src="{{ STATIC_URL }}lib/shCore.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}lib/scripts/shAutoloader.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}lib/scripts/shBrushJScript.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}lib/scripts/shBrushBash.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}lib/scripts/shBrushPython.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}lib/scripts/shBrushCpp.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}lib/scripts/shBrushJava.js"></script>

  <script type="text/javascript">
    window.onload = SyntaxHighlighter.all();
  </script>

  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/prism.css">
  <script type="text/javascript" src="{{ STATIC_URL }}js/prism.js"></script>
  <!-- paginator-->
  <link rel="stylesheet" href="{{ STATIC_URL }}css/jPages.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/animate.css">
  <script src="{{ STATIC_URL }}js/jPages.js"></script>

  <!-- jqcloud -->
  <script src="{{ STATIC_URL }}lib/jqcloud-1.0.4.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}lib/jqcloud.css">

  <!--responsive-nav-->
  <script src="{{ STATIC_URL }}lib/responsive-nav.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}lib/responsive-nav.css">

  <script type="text/javascript" src="{{ STATIC_URL }}js/public.js"></script>
  <!-- visitor counts -->
{#        <script async src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>#}
  <style>
    .cur{font-weight:bolder; font-size: larger;}
  </style>
</head>

<script>
$(function () {
  $.scrollUp({

  });
});
</script>

<body class="home blog layout-cs">
  <div id="wrap">
    <header id="header" role="banner">
      <div class="container">
        <div id="logo">
          <h1 id="site-title">
            <a href="{% url 'home' %}" rel="home"><span style="font-family:'Lucida Console'">Daniel</span>的小站</a>
          </h1>
          <span id="site-description" style="color: orange">倚天照海花无数，流水高山心自知。</span>
        </div>
        <div class="social-icons">
          <a href="https://www.weibo.com" target="_blank"><i style="position:relative;left:-2px;" class="icon-weibo icon-large"></i></a>
          <a href="https://github.com/a1401358759" target="_blank"> <i style="position:relative;left:-2px;" class="icon-github icon-large"></i></a>
{#                    <a href="{% url 'RSS' %}" target="_blank"><i style="position:relative;left:-2px;" class="icon-rss icon-large"></i></a>#}
          <a href="javascript:void (0)" onclick="verify_user()"><i style="position:relative;left:-2px;" class="icon-heart icon-large"></i></a>
        </div>
      </div>
      <div class="clearfix"></div>
      <nav class="nav nav-primary">
        <div class="container">
          <ul id="menu-%e9%a6%96%e9%a1%b5" class="menu sf-js-enabled sf-shadow">

            <li id="menu-item-43" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-43">
              <a href="{% url 'home'%}">首页</a></li>
            <li id="menu-item-45" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-45">
              <a href="{% url 'archive'%}">文章存档</a></li>
            <li id="menu-item-44" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-44">
              <a href="{% url 'message' %}">留言板</a></li>
            <li id="menu-item-42" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-42">
              <a href="{% url 'about'%}">关于我</a></li>
          </ul>
        </div>
      </nav>
      <div id="nav2">
        <ul>
          <li><a href="{% url 'home'%}">首页</a></li>
          <li><a href="{% url 'archive'%}">文章归档</a></li>
          <li><a href="{% url 'message'%}">留言板</a></li>
          <li><a href="{% url 'about'%}">关于我</a></li>
        </ul>
      </div>
    </header>

    <div id="main" class="container">
      <div id="content-sidebar-wrap">
        <div id="content">
          <div class="breadcrumb">
            {% block path %}{% endblock %}
          </div>
          {% block content %}{% endblock %}
        </div> <!-- #content -->

        <aside id="sidebar-primary" role="complementary">
          {% block side %}{% endblock %}
        </aside>
      </div> <!-- #content-sidebar -->
    </div> <!-- #main -->
    <center>
      <footer id="footer" role="contentinfo">
        <div id="footer-content">
          <div class="container">
            <div style="max-width:500px;">
              <div id="copyright">
                <span style="padding-left: 150px;">Designed by Daniel © 2016</span>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </footer>
    </center>
    </div>
  {% include "blog/verify_user.html" %}
  <script>
    var navigation = responsiveNav("#nav2");
  </script>

  <!--导航栏选中改变样式-->
  <script type="text/javascript">
    $(document).ready(function(){
      $(".nav a").each(function(){
        $this = $(this);
        if($this[0].href==String(window.location)){
          $this.addClass("cur");
        }
      });
    });

    function verify_user(){
      $("#verify_user").modal('show')
    }

    (function(){
    var appid = 'cyt5STTrc';
    var conf = '28f93e777e4486046d3b5173915e80f6';
    var width = window.innerWidth || document.documentElement.clientWidth;
    if (width < 960) {
      window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("https://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })();
  </script>
</body>
</html>

