<!-- DataTables -->
<link href="/static/manager/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="/static/manager/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<!-- Responsive datatable examples -->
<link href="/static/manager/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<!-- App css -->
<link href="/static/manager/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/static/manager/css/icons.css" rel="stylesheet" type="text/css" />
<link href="/static/manager/css/style.css" rel="stylesheet" type="text/css" />
