<!-- jQuery  -->
<script src="/static/manager/js/jquery.min.js"></script>
<script src="/static/manager/js/popper.min.js"></script>
<script src="/static/manager/js/bootstrap.min.js"></script>
<script src="/static/manager/js/detect.js"></script>
<script src="/static/manager/js/fastclick.js"></script>
<script src="/static/manager/js/jquery.blockUI.js"></script>
<script src="/static/manager/js/waves.js"></script>
<script src="/static/manager/js/jquery.nicescroll.js"></script>
<script src="/static/manager/js/jquery.slimscroll.js"></script>
<script src="/static/manager/js/jquery.scrollTo.min.js"></script>

<!-- Required datatable js -->
<script src="/static/manager/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/static/manager/plugins/datatables/dataTables.bootstrap4.min.js"></script>
<!-- Buttons examples -->
<script src="/static/manager/plugins/datatables/dataTables.buttons.min.js"></script>
<script src="/static/manager/plugins/datatables/buttons.bootstrap4.min.js"></script>
<script src="/static/manager/plugins/datatables/jszip.min.js"></script>
<script src="/static/manager/plugins/datatables/pdfmake.min.js"></script>
<script src="/static/manager/plugins/datatables/vfs_fonts.js"></script>
<script src="/static/manager/plugins/datatables/buttons.html5.min.js"></script>
<script src="/static/manager/plugins/datatables/buttons.print.min.js"></script>

<!-- App js -->
<script src="/static/manager/js/jquery.core.js"></script>
<script src="/static/manager/js/jquery.app.js"></script>
<script src="/static/manager/js/main.js"></script>
